@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
  background: -webkit-linear-gradient(
      rgba(135, 60, 255, 0.4),
      rgba(135, 60, 255, 0) 80%
    ),
    -webkit-linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(
            255,
            160,
            65,
            0.9
          )
          75%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow-x: auto;
}

.container-box {
  max-width: 50rem;
  margin: 7.5rem 10%;
  padding: 1.875rem 3.75rem;
  border-radius: 1.875rem;
  background: rgba(255, 255, 255);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.6);
}

button {
  cursor: pointer;
  min-width: 7.5rem;
  height: 2.813rem;
  margin-left: 0.625rem;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 3.125rem;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 1.25rem #eee;
  background-image: linear-gradient(
    to right,
    #f29bd9 0%,
    #81a3de 51%,
    #f2abde 100%
  );
}

button:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

button:active {
  transform: scale(0.95);
}

input:focus,
button:focus {
  outline: none;
}

////////////////////
///   HEADER   ////
///////////////////

header * {
  z-index: 1;
}

header h1 {
  margin: 1.25rem 0 2.5rem;
  font-size: 3rem;
  font-family: "Quicksand", sans-serif;
  color: #81a3de;
  text-align: center;
}

form {
  position: relative;
  width: 31.25rem;
  max-width: 100%;
}

form input {
  border: 0;
  border-radius: 3.125rem;
  font-size: 1rem;
  padding: 0.938rem 1.25rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.search-btn {
  position: absolute;
  top: 0.125rem;
  right: 0.125rem;
  padding: 0.813rem 1.875rem;
}

////////////////////
///   LYRICS   ////
///////////////////

.more-btn {
  height: 1.875rem;
  padding: 0.313rem 1.25rem;
  transform: scale(1.1);
}

ul.songs {
  list-style-type: none;
  padding: 0;
}

ul.songs li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.875rem;
  margin-left: 0.625rem;
}

.lyrics-name {
  width: 21.875rem;
}

.container {
  margin: 2.5rem auto;
  max-width: 100%;
  width: 31.25rem;
}

.container h2 {
  font-weight: 300;
}

.container p {
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
}

.clearer {
  clear: both;
}

///////////////////////
///   RESPONSIVE   ////
///////////////////////

@media only screen and (max-width: 678px) {
  .container-box {
    width: 31.25rem;
  }

  .centered {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 7.5rem;
  }
}

@media only screen and (max-width: 642px) {
  .container-box {
    width: 30rem;
  }

  .lyrics-name {
    width: 12.5rem;
  }
}

@media only screen and (max-width: 535px) {
  .container-box {
    width: 25rem;
  }

  ul.songs li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .lyrics-name {
    text-align: center;
  }

  .btn {
    min-width: 11.25rem;
    margin-top: 0.313rem;
  }
}

@media only screen and (max-width: 406px) {
  .container-box {
    max-width: 21.25rem;
  }

  .centered {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .more-btn {
    margin-top: 0.625rem;
  }
}

@media only screen and (max-width: 394px) {
  .container-box {
    max-width: 19.375rem;
  }
}

@media only screen and (max-width: 348px) {
  .container-box {
    max-width: 17.5rem;
  }
}

@media only screen and (max-width: 325px) {
  .container-box {
    max-width: 16.25rem;
  }
}

.modal {
  display: none;
  gap: 0.4rem;
  width: 21.875rem;
  padding: 1.3rem;
  min-height: 9.375rem;
  position: absolute;
  z-index: 2;
  top: 50%;
  background-color: white;
  border: 0.063rem solid #ddd;
  border-radius: 0.938rem;
}

.modal p {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 0.8rem;
  text-align: center;
}

.close {
  color: #aaa;
  font-size: 1.75rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.clearer {
  clear: both;
}

.closeinfo {
  color: #aaa;
  font-size: 1.75rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
}

.closeinfo:hover,
.closeinfo:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.188rem);
  z-index: 1;
}

.hidden {
  display: none;
}
